.defaultInput {
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 10px;
	font-size: 20px;
	transition: border-color 0.3s ease;
  
	&:hover {
	  border-color: #888;
	}
  
	&:focus {
	  border-color: #555;
	  outline: none;
	}
  
	&:disabled {
	  background-color: #eee;
	  cursor: not-allowed;
	}
}
